<ul>
    {% for menu_item in menu_items %}
        <li>
            {% if request.path != menu_item.url %}
                <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
            {% else %}
                <span>{{ menu_item.title }}
            {% endif %}
            {% if menu_item.children %}
                {% with menu_items=menu_item.children %}
                    {% include 'menu/menu.html' %}
                {% endwith %}
            {% endif %}
        </li>
    {% endfor %}
</ul>   