
<ul>
    {% for menu_item in menu_items %}
        <li class="menu-item {{ menu_item.classes }}">
            {% if request.path != menu_item.url %}
                <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
            {% else %}
                <span>{{ menu_item.title }}</span>
            {% endif %}
            {% if menu_item.children %}
                {% with menu_items=menu_item.children %}
                    {% include 'menu/menu_items.html' %}
                {% endwith %}
            {% endif %}
        </li>
    {% endfor %}
</ul>   